<h2>Add New Post</h2>
<p>
  <form action="/new" method="post">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">What do you want to say?</label>
      <textarea name="post" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Enter text here..."></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</p>